*{
    margin: 0;
}
body{
    background-color: black;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.container_game{
    background-color: rgb(11, 26, 66);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 940px;
    width: 1600px;
}
.screen_game{
    display: flex;
    align-items: center;
    height: 700px;
    width: 1600px;
}
.screen_game_side{
    background-color: green;
    width: 300px;
    height: 700px;
}

.screen_game_mid {
    background-color: rgb(68, 68, 68);
    width: 1000px;
    height: 700px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
.piano {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 700px;
}
.baldosa:nth-child(2n+1){
    background-color: rgb(255, 24, 24);
    border-radius: 3px;
    margin-top: 6vh;    
    width: 3vw;
    height: 6vh;
}
.start_button{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 10vh;
    border-radius: 20px;
}
.start_button > span{
    color: red;
    font-size: 3em;
}

.player1{
    width: 100px;
    height: 150px;
    border-radius: 30px;
    background-color: yellow;
    position: absolute;
    bottom:10px;
    left: 0px;
}
.rival {
    width: 100px;
    height: 150px;
    background-color: rgb(59, 241, 13);
    position: absolute;
    top: 10px;
}
.off{
    display: none;
}