*{
    margin: 0;
}
body{
    background-color: black;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.container_game{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 940px;
    width: 1600px;
   
}
.screen_game{
    display: flex;
    align-items: center;
    height: 940px;
    width: 1600px;
    justify-content: center;
    position: relative;
     
}
.screen_game_side{
    width: 300px;
    height: 940px;
}

.screen_game_mid {
    width: 1000px;
    height: 940px;
    display: flex;
    position: relative;
    justify-content: center;
    overflow: hidden;
}
.piano {
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 940px;
}
.baldosa:nth-child(2n+1){
    border-radius: 3px;
    margin-top: 6vh;    
    width: 3vw;
    height: 6vh;
}
.over {
    background-image: url("../images/GameOverScreen.png");
    background-repeat: no-repeat;
    position: absolute;
    display:flex;
    z-index: 2;
    height: 700px;
    width: 1500px;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 40px;
    transition-delay: 3s;
    
}
.start_button{
    height: 700px;
    width: 1500px;
    background-image: url(../images/startgame.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 2;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    display: flex;
}
.start_button > span{
    font-size: 3em;
}

.start_button > button{
    width: 300px;
    height: 100px;;
    position:absolute;
    right: 360px;
    bottom: 100px;
    border-radius: 20px; 
    background-color: rgba(245, 245, 245, 0.089);
    border-color: black;
    font-size: x-large;

}
.start_button > button:hover {
  
    background-color: rgba(68, 17, 2, 0.925);
    border-color: black;
    color: white;
    font-size: xx-large;
    transition: 1s;
}
.score{
    background-color: rgba(8, 12, 12, 0.637);
    z-index: 1;
    display: flex;
    height: 90px;
    width: 280px;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 15px;
    color: aliceblue;
    border-style: solid;
    transition: 1s;
    justify-content: center;
    align-items: center;
}


.deloreangif{
    background-color: black;
    width: 480px;
    background-repeat: no-repeat;
    height: 250px;
    z-index: 2;
    background-image: url(../images/delorean.gif);
    position: absolute;
    right: 15%;
}

.player1{
    background-image: url("../images/playerCar5.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat ;
    border-radius: 10px;
    width: 100px;
    height: 190px;
    top:   600px;
    left: 500px;
    position: absolute;
    transition: 0.3s;
   
}
.rival {
    width: 100px;
    height: 190px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    border-radius: 10px;
}

.color1 {
    background-image: url(../images/rivalCarOrange.png);
}
.color2 {
    background-image: url(../images/rivalCarRed.png);
}
.color3 {
    background-image: url(../images/rivalCarPink.png);
}
.color4 {
    background-image: url(../images/rivalCarBlue.png);
}
.color5 {
    background-image: url(../images/rivalCarMustard.png);
}


.off{
    display: none;  
}

.restart-button {
    border: none;
    background-color: rgba(245, 245, 245, 0.089);
    overflow: hidden;
    height: 90px;
    width: 280px;
    font-size:xx-large;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 15px;
    color:aliceblue;
    border-style: solid;
    transition: 1s;

    }

.restart-button:hover{
    background-color: rgb(206, 138, 54);
    color: black;
    font-weight: bolder;
    width: 320px;
    height: 120px;
    font-size: 40px;
    transition: 1s;
}


.background {
    height: 940px;
    width: 1600px;
    background-image: url("../images/roadImg-modified.png");                
    background-size: 1600px 2028px;
    position: absolute;
    animation: slide 0.5s linear infinite;
}
.backgroundSlow {
    height: 940px;
    width: 1600px;
    background-image: url("../images/roadImg-modified.png");
    background-size: 1600px 2028px;
    position: absolute;
    animation: slide 4s linear infinite;
}

@keyframes slide {
    0% {
        background-position: 0 100%;
    }

    100% {
        background-position: 0 0%;

    }
}
