*{
    margin: 0;
}
body{
    background-color: black;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.container_game{
    background-color: rgb(11, 26, 66);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 940px;
    width: 1600px;
}
.screen_game{
    display: flex;
    align-items: center;
    height: 850px;
    width: 1600px;
    justify-content: center;
}
.screen_game_side{
    background-image: url("/images/cesped.png");
    background-color: green;
    width: 300px;
    height: 850px;
}

.screen_game_mid {
    background-image: url("/images/patronRoad.png");
    background-color: rgb(68, 68, 68);
    width: 1000px;
    height: 850px;
    display: flex;
    position: relative;
    overflow: hidden;
}
.piano {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 850px;
}
.baldosa:nth-child(2n+1){
    background-color: rgb(255, 24, 24);
    border-radius: 3px;
    margin-top: 6vh;    
    width: 3vw;
    height: 6vh;
}
.over {
    background-image: url("/images/Game-over-full.png");
    background-repeat: no-repeat;
    position: absolute;
    display:flex;
    z-index: 2;
    height: 700px;
    width: 1500px;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 40px;
    transition-delay: 3s;
    
}
.start_button{
    background-image: url(/images/Game\ over\ .png);
    background-size: contain;
    background-color: center;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 2;
    left: 200px;
    top: 400px;
    justify-content: center;
    align-items: center;
    width: 32vw;
    height: 18vh;
    border-radius: 20px;
    display: flex;
}
.start_button > span{
    font-size: 3em;
}

.player1{
    background-image: url("/images/playerCar3.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat ;
    border-radius: 10px;
    width: 90px;
    height: 150px;
    top: 700px;
    left: 400px;
    position: absolute;
   
}
.rival {
    width: 100px;
    height: 150px;
    background-image: url(/images/New\ Piskel-2.png.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    border-radius: 10px;
    background-color: red;
}

.off{
    display: none;
}

.restart-button {
    border: none;
    background-color: rgba(245, 245, 245, 0.089);
    overflow: hidden;
    height: 100px;
    width: 300px;
    font-size:xx-large;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 15px;
    color:aliceblue;
    border-style: solid;
    transition: 1s;

    }

.restart-button:hover{
    background-color: rgb(206, 138, 54);
    color: black;
    font-weight: bolder;
    width: 320px;
    height: 120px;
    font-size: 40px;
    transition: 1s;

}